@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

:root {
    --primary-color: hwb(241 24% 55%);
    --secondary-color: rgb(91, 90, 136);
}

nav {
    background-color: var(--primary-color);
}

nav img {
    max-width: 220px;
    filter: brightness(250%);
}

.nav-item a {
    font-size: 18px;
    color: #fff
}

div#intro {
    height: 90vh;
    background-image: url('img/mainbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(62,61,116,.2);
    font-family: 'Bayon', sans-serif;
    position: relative;
}

div#intro h1 {
    padding: 60px;
    font-size: 55px;
    color: #fff;
}

div#intro #btnDiv {
    position: absolute;
    width: 95%;
    bottom: 15%;
}

div#intro a {
    padding: 10px;
    font-size: 27px;
    color: var(--primary-color);
    opacity: 0.5;
    background-color: #fff;
}

div#intro button:hover {
    opacity: 0.7;
}

div.header {
    background-color: #31304B;
    color: #fff;
    font-family: 'Bayon', sans-serif;
    text-align: center;
    padding: 5vh;
}

div#aboutus span{
    font-size: 48px;
}

div#aboutus p{
    font-size: 20px;
}

div#teachers .card{
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
}

div#courses {
    min-height: 80vh;
}

div#courses button {
    background-color: var(--secondary-color);
    color: #fff
}

div#footer {
    background-color: #31304B;
    height: 30vh;
    margin-top: 10vh;
}

div#copyright {
    font-size: 14px;
}

.review {
    border: 3px solid var(--primary-color);
    max-width: 600px;
}

div#social a{
    border: 2px solid var(--primary-color);
    color:rgb(91, 90, 136)
}

div#contact .row {
    height: 60vh;
    display: flex;
    align-items: center;
}

div#contact .banner {
    height: 100%;
    background-color: #45437e;
    padding-top: 20vh;
    padding-left: 5vw;
}

div#contact .banner h1 {
    font-weight: 900;
    font-size: 58px;
}

@media (max-width: 425px) {
    .banner {
        display: none;
    }
}

div#contact label {
    font-size: 18px;
}

div.iconos {
    display: flex;
    justify-content: end;
    margin: 5vw
}

div.iconos a {
    font-size: 3.5rem;
    margin-right: 20px;
    color: #000;
    cursor: pointer;
}