<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <title>CA - Nosotros</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid">
            <img src="../img/logo.png" alt="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Formacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#courses">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Slider-->
    <div class="container mt-5">
        <h1>Nosotros</h1>
        <hr />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit est sed eros aliquet
                    tempor. Curabitur sit amet venenatis ipsum, ut condimentum lorem. Phasellus malesuada posuere augue,
                    fringilla imperdiet ipsum pulvinar non. Phasellus cursus, massa ut tempus viverra, diam erat
                    fringilla dolor, tristique bibendum nisl eros ut neque. Etiam laoreet id magna sit amet varius.
        </p>
        <div id="aboutus" class="row text-center">
            <h2>¿Por qué elegirnos?</h2>
            <div class="col-sm-6 col-md-3 my-2">
                <span><i class="las la-fist-raised"></i></span>
                <h3>Dedicación</h3>
                <p>
                    Damos siempre lo mejor de nosotros para que todo quede claro.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 my-2">
                <span><i class="las la-calendar-day"></i></span>
                <h3>Flexibilidad</h3>
                <p>
                    Ofrecemos cursos en distintos horarios para que puedas organizarte mejor.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 my-2">
                <span><i class="las la-tools"></i></span>
                <h3>Soporte</h3>
                <p>
                    Contamos con un equipo de soporte que puede ayudarte ante cualquier inconveniente.
                </p>
            </div>
            <div class="col-sm-6 col-md-3 my-2">
                <span><i class="las la-clock"></i></span>
                <h3>Al día</h3>
                <p>
                    Enseñamos habilidades modernas y estamos constantemente actualizando los contenidos.
                </p>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-6 text-center">
                <h2>Estudiantes</h2>
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit est sed eros aliquet
                    tempor. Curabitur sit amet venenatis ipsum, ut condimentum lorem. Phasellus malesuada posuere augue,
                    fringilla imperdiet ipsum pulvinar non. Phasellus cursus, massa ut tempus viverra, diam erat
                    fringilla dolor, tristique bibendum nisl eros ut neque. Etiam laoreet id magna sit amet varius. In
                    lacinia sodales lorem, non rutrum orci auctor et. Ut interdum magna ut congue pretium. Etiam maximus
                    consequat posuere. Pellentesque ut tempor nisl, ac condimentum est. Vestibulum sodales, magna dictum
                    pharetra tempus, mi mauris malesuada felis, vel venenatis erat augue eu risus. Duis lacinia
                    malesuada sapien eu ultricies. Proin sed bibendum dolor. Aliquam aliquam tristique odio in cursus.
                    Cras in felis urna. Proin faucibus est ac aliquet sollicitudin. Phasellus sagittis, libero ac cursus
                    sagittis, massa ligula facilisis neque, eu lacinia tellus nisi nec purus.
                </p>
            </div>
            <div class="col-12 col-lg-6 m-auto">
                <div class="row">
                    <div class="review my-2 p-3 p-sm-0 d-sm-flex sm-rounded-pill text-center rounded">
                        <img src="../img/person_1.jpg" alt="Student1" class="img-fluid" style="width: 150px">
                        <p class="mx-3 m-3 my-sm-auto">
                            <i>"Tras haber completado el curso de C++, dejé de ser el empleado que pregunta todo a sus
                            compañeros y, para mi sorpresa, empezó a ser al revés"</i>
                        </p>
                    </div>
                    <div class="review my-2 p-3 p-sm-0 d-sm-flex sm-rounded-pill text-center rounded">
                        <img src="../img/person_2.jpg" alt="Student2" class="img-fluid" style="width: 150px">
                        <p class="mx-3 m-3 my-sm-auto">
                            <i>"Si bien ya tenía un poco de base en Photoshop, el curso
                            me ayudó a potenciar lo que ya sabía, además de permitirme
                            entender nuevas herramientas"</i>
                        </p>
                    </div>
                    <div class="review my-2 p-3 p-sm-0 d-sm-flex sm-rounded-pill text-center rounded">
                        <img src="../img/person_3.jpg" alt="Student3" class="img-fluid" style="width: 150px">
                        <p class="mx-3 m-3 my-sm-auto">
                            <i>"Tras haber completado el curso de C++, dejé de ser el empleado que pregunta todo a sus
                            compañeros y, para mi sorpresa, empezó a ser al revés"</i>
                        </p>
                    </div>
                </div>
            </div>
            <div id="social" class="d-flex justify-content-center mt-5">
                <a href="#" class="btn rounded-circle mx-2"><i class="lab la-facebook-f"></i></a>
                <a href="#" class="btn rounded-pill mx-2"><i class="lab la-instagram"></i></a>
                <a href="#" class="btn rounded-pill mx-2"><i class="lab la-youtube"></i></a>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div id="footer" class="p-5">
        <div>
            <img src="../img/logo.png" alt="logo" style="width: 200px">
        </div>
        <div class="row">
            <div class="col text-light">
                <p>Consultas: <a href="#">codeandoaprendo@gmail.com</a></p>
                <a href="#" class="text-decoration-none text-light">Políticas de privacidad</a> | <a href="#"
                    class="text-decoration-none text-light">Términos y condiciones</a>
            </div>
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="example@gmail.com">
                    <div class="input-group-append">
                        <button class="btn btn-outline-light" type="button">Suscribite</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="text-light" />
        <div id="copyright" class="d-flex justify-content-center text-light">
            <p>CodeandoAprendo @ 2023 | Todos los derechos reservados</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>